*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: black;
}
.tag_container ul{
   list-style: none;
  
}
.tag_container ul li{
    display: inline;
}
.tag_container ul li button{
 padding: 5px 10px;
 background: gold;
}
.title{
    height: 200px;
    background: silver;
    padding: 10px 20px;
}
.input{
    height: 200px;
    background: rgb(216, 212, 212);
    padding: 10px 20px;
 
}
.input input{
    text-align: center;
}
.input button{
    background: rgb(240, 213, 59);
    padding: 5px 10px;
}
.output{
    height: 200px;
    background: silver;
    padding: 10px 20px;
}
.output{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input nav ul *{
    margin: 10px 0;
}
